
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
    overflow-x: hidden !important;
  }
  

body{
    font-family: "Roboto", sans-serif;
}
/* body{
    background-color: red;
} */
.showcase{
    background-image: url(../images/1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
}

.showcase .content{
    margin-top: 20vh;
}

.showcase .content{
    color: #fff;
    font-weight: bold;
}

.myVid{
    width: 200px !important;
}

video{
    width: 500px;
}

@media only screen and (max-width: 600px) {
    video{
        width: 100%;
    }
    .brand-logo{
        font-size: 18px !important;
        font-weight: bold;
    }
  }

  footer a{
    color:#fff
  }

  nav ul li a{
    font-weight: bold;
  }
  nav ul li a:hover{
background-color: #fff !important;
color: coral !important;
font-weight: bold;
transition: .4s ease;
  }


  .pdts h5{
    color:gray ;
    font-size:18px;
    text-align: center;
    cursor: pointer;
  }
  .pdts p{
    color:coral ;
    font-size:16px;
    text-align: center;
    cursor: pointer;
  }

  .pdts h5:hover{
    color:coral !important
    

  }


  .our_promise{
    padding: 10px 0px;
  }
  .our_promise h3{
color: coral;
font-weight: 22px;
font-weight: bold;
  }

  .promise_content{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
  }

  .promise_content h5{
    color:coral;
    font-size: 18px;
  }

  .promise_content p{
    color:gray
  }
