
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
    overflow-x: hidden !important;
  }
  

body{
    font-family: "Roboto", sans-serif;
}
/* body{
    background-color: red;
} */
.showcase{
    background-image: url(../images/1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
}

.myVid{
    width: 200px !important;
}

video{
    width: 500px;
}

@media only screen and (max-width: 600px) {
    video{
        width: 100%;
    }
    
  }
